.wrap {
    width: 280px;
    margin: 0 auto;
    border: 2px solid lawngreen;
    padding: 12px;
    background-color: whitesmoke;
}

.header {
    display: flex;
    justify-content: center;
    font-size: 20px;
}
.header__all {
    display: flex;
    width: 33%;
}
.header__all:first-child {
    display:flex;
    justify-content: flex-start;
    padding-left:5px;
    padding-top: 5px;
}
.header__all:nth-child(2) {
    display:flex;
    justify-content: center;
}
.header__all:last-child {
    display:flex;
    justify-content: flex-end;
}

.playlist {
    display: flex;

}
.playlist__icon {
    background-color: orange;
    padding: 30px;
    margin-left: 15px;
    border-radius: 25%;
    border: 2px solid black;
    margin-right: 15px;
    margin-top: 20px;
    margin-bottom: 15px;

}
.playlist__text {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.title {
    font-size: 27px;
    line-height: 110%;
}
.artist {
    font-size: 15px;
    margin-top: 8px;
}

.btn {
    display: flex;
    justify-content: space-between;
}
.btn__play {
    border: 1px solid;
    border-radius: 30px;
    padding: 10px;
    border-width: 3px;
    width: 33%;
    margin-left: 15px;
    margin-top: 10px;
}
.btn__heart {
    border: 1px solid;
    border-radius: 50%;
    padding: 10px;
    margin-top: 10px;
    border-width: 3px;
}
.btn__plus {
    border: 1px solid;
    border-radius: 50%;
    padding: 10px; 
    margin-top: 10px;
    margin-right: 15px;
    border-width: 3px;

}
.red {
    background-color: red;
    width: 45px;
    height: 45px;
    border-radius: 25%;
    border: 2px solid black;
    margin-right: 5px;
}
.pink {
    background-color: pink;
    width: 45px;
    height: 45px;
    border-radius: 25%;
    border: 2px solid black;
    margin-right: 5px;
}
.blue {
    background-color: blue;
    width: 45px;
    height: 45px;
    border-radius: 25%;
    border: 2px solid black;
    margin-right: 5px;
}
.green {
    background-color: green;
    width: 45px;
    height: 45px;
    border-radius: 25%;
    border: 2px solid black;
    margin-right: 5px;
}
.list {
    list-style:none;
    padding-left: 16px;
}
.list__list {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.list__text {
    display: flex;
    flex-direction: column;
}
.list__title {
    font-size: 20px;
}
.list__artist {
    font-size: 12px;
}